<!DOCTYPE html>
<html>
  <head>
    <title>Ibarbosa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'stylecss.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
